services:
  api:
    build:
      context: ../../
      dockerfile: infra/docker/api.Dockerfile
    container_name: auto-search-api
    restart: always
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      qdrant:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/health"]
      interval: 30s
      timeout: 5s
      retries: 3

  postgres:
    image: postgres:16-alpine
    container_name: auto-search-postgres
    restart: always
    environment:
      POSTGRES_DB: auto_search
      POSTGRES_USER: auto
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auto -d auto_search"]
      interval: 10s
      timeout: 5s
      retries: 10
    # ❌ НЕТ ports

  redis:
    image: redis:7-alpine
    container_name: auto-search-redis
    restart: always
    command: ["redis-server", "--protected-mode", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      interval: 10s
      timeout: 3s
      retries: 10
    # ❌ НЕТ ports

  qdrant:
    image: qdrant/qdrant:v1.9.0
    container_name: auto-search-qdrant
    restart: always
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage


volumes:
  postgres_data:
  qdrant_data:
